.small-text {
	font-size: xx-small;
}


/*--------------------------*/
*{
  margin: 0;
  padding: 0;
}

div.card {
    /*display: inline-flex;*/
    display: inline-grid;
    white-space: nowrap;
}

.container {
	margin-top: 10px;
}

.tr {
	border-radius: 15%;
}
