/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 40%; */
  max-width: 40rem;
}

.collection {
  align-content: unset;
}

.collection-item {
  text-align: start;
}